<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390469911071-u9dc6og551gr6gc7ko2ihdt8ptusb7pn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390469911071-u9dc6og551gr6gc7ko2ihdt8ptusb7pn</string>
	<key>API_KEY</key>
	<string>AIzaSyBTYURzWLd3Ob9nCJjNIM0UjtxG595fcnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>390469911071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youthCareApplication</string>
	<key>PROJECT_ID</key>
	<string>youthcare-398ee</string>
	<key>STORAGE_BUCKET</key>
	<string>youthcare-398ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390469911071:ios:31e5fe6ade1f1db4cfcb2a</string>
</dict>
</plist>